<html>
    <head>
        <title>WeChat</title>
        <meta charset="utf-8">
        <script src="jquery.js"></script>
        <script src="https://dongchat.herokuapp.com/socket.io/socket.io.js"></script>
        <script src="process.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css"/>

    </head>

    <body>
        <div id="wrapper2">
            <div id="information">
                <input type="text" id="txtHoten" placeholder="Name"/>
                <input type="text" id="txtEmail" placeholder="Email"/>
                <input type="text" id="txtSoDT" placeholder="Phone"/>
                <input type="button" id="btnRes" value="Send"/>
            </div>

            <div id = "listUsers">
                <h3>Danh Sách</h3>
                <div id="ds">
                                             
                </div>
            </div>
        </div>
    </body>
</html>