<html>
    <head>
        <title>WeChat</title>
        <meta charset="utf-8">
        <script src="jquery.js"></script>
        <!-- <script src="https://ngocdong.herokuapp.com/socket.io/socket.io.js"></script> -->
        <script src="socket.io/socket.io.js"></script>
        <!-- <script src="process.js"></script>         -->
        <script src="peer.js"></script>
        <script src="process.js"></script>
        <!-- <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script> -->
        <link rel="stylesheet" type="text/css" href="layout.css"/>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- <script src="webrtc.js"></script> -->

    </head>

    <body>
        <div id="wrapper">
            <h2 id ="welcome">===== Welcome to WeChat =====</h2>
            <div id="loginForm">
                <h3>What's your name ?</h3>
                <input type="text" id="txtUsername"/>
                <input type="button" value="Register" id="btnRegister"/>
            </div>
            <div id="chatForm">
                <div id="left">
                    <div id="boxUsers">Users Online</div>
                    <ul id="boxContent">

                    </ul>
                    <!-- <div id="boxContent"></div> -->
                </div>

                <div id="right">
                    <div id="sayHi">
                        Hello <span id="currentUser">AAA</span>
                        <input type="button" id="btnLogout" value="Logout"/>
                    </div>
                    <div id="listMessages"></div>
                    <div>
                        <input type="text" id="txtMessages"/>
                        <input type="button" id="btnSendMessage" value="Send" />
                    </div>
                    <h3 id="my-peer">Your id: </h3>

                

                <div id="video">
                    
                    <div class="row">
                        <video id="localStream" width="300" controls></video>
                        <video id="remoteStream" width="300" controls></video>
                    </div>
                    
                    <input type="text" id="remoteId" placeholder="Remote Id">
                    <button id="btnCall">Call</button>
                </div>
            </div>
                <div id = "option">
                    <a href="/dong" id="clickMe">Click Me</a>
                </div>
            </div>
        </div>
    </body>
</html>